body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url("https://www.elsetge.cat/myimg/f/16-166368_bokeh-nature-background-wallpaper-morning-sun-nature.jpg");
    background-size: cover;
}
.error {
    color: red;
}

.alert-error {
    padding: 20px;
    background-color: #f44336;
    color: white;
}
.success {
   padding: 20px;
    background-color: darkolivegreen;
    color: green;
}

.box {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 600px;
padding: 40px;
background: rgba(0, 0, 0, .8);
box-sizing: border-box;
box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
border-radius: 10px;
}
.box h2 {
margin: 0 0 30px;
padding: 0;
color: darkseagreen;
text-align: center;
}

.box .inputBox {
position: relative;
}

.box .inputBox input {
width: 100%;
padding: 10px 0;
font-size: 16px;
color: #fff;
margin-bottom: 30px;
border: none;
border-bottom: 1px solid #fff;
outline: none;
background: transparent;
}

.box .inputBox label {
position: absolute;
top: 0;
left: 0;
padding: 10px 0;
font-size: 16px;
color: #fff;
pointer-events: none;
transition: .5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
top: -20px;
left: 0;
color: yellow;
font-size: 12px;
}

.box input[type="submit"] {
background: transparent;
border: none;
outline: none;
color: #fff;
background: olivedrab;
padding: 10px 20px;
cursor: pointer;
border-radius: 5px;
}


/* userview starts here
a {
    text-decoration: none;
    border-bottom: 1px dashed #363639;
}
*/
.a .nav {
    font-size: 0.8em;
    background-color: greenyellow;
    color: black;
    padding: 3px 6px;
    border: 0px;
    opacity: 0.4;
    float: right;
}

/* list */
.list {
    background-color: #ffffff;
    margin: 20px auto;
    width: 100%;
    max-width: 650px;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
    box-sizing: border-box;
}

.list .header {
    font-family: "Shadows Into Light Two", cursive;
    margin: 0 0 10px 0;
}

/* Items */
.items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.done-button:hover,
.undone-button:hover,
.delete-button:hover {
    opacity: 1;
}

.items .item.done {
    text-decoration:line-through;
}

.items li,
.item-add .input {
    border: 0;
    border-bottom: 1px dashed #ccc;
    padding: 20px 0;
}

/* When clicked on, add a background color and strike out text */
.items  li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.input {
    width: 100%;
}

.input:focus {
    outline: none;
}

.done-button{
    display: inline-block;
    font-size: 0.8em;
    background-color: #d9dfe1;
    color: #363639;
    padding: 3px 6px;
    border: 0px;
    opacity: 0.4;
    float: right;
}

.undone-button{
    display: inline-block;
    font-size: 0.8em;
    background-color: olivedrab;
    color: #363639;
    padding: 3px 6px;
    border: 0px;
    opacity: 0.4;
    float: right;
}

.delete-button {
    display: inline-block;
    font-size: 0.8em;
    background-color: #FF1919;
    color: #363639;
    padding: 3px 6px;
    border: 0px;
    opacity: 0.6;
    float: right;
}

.undone-button {
    margin-left: 20px;
}

.delete-button {
    margin-left: 20px;
}

/* Submit button */

.submit {
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #ddd;
    width: 100%;
    margin-top: 10px;
    box-shadow: 3px 3px 0 #ddd;
}

.submit:active {
    box-shadow: 0px 0px 0;
}

.submit:focus {
    outline-width: 0px;
}

